dataclasses-json==0.5.6
click==8.1.7
flare-capa>=7.2.0
orjson==3.9.15
mslex==1.1.0
pydantic==2.10.6
# Peer dependency of Pydantic
typing-extensions
pathvalidate==3.2.0
configupdater==3.2
# drak-web dependencies
Flask==2.2.5
uwsgi==2.0.22
drakpdb==0.2.2
