karton-core==4.2.0
minio==5.0.7
redis==3.5.3
pefile==2019.4.18
pdbparse==1.4
construct==2.9.45
requests==2.25.1
tqdm==4.43.0
python-magic==0.4.15
dataclasses-json==0.5.1
click==7.1.2
oletools==0.55.1
regex==2020.7.14
ipython==7.9.0
malduck==4.1.0
