include drakrun/test/*
include drakrun/data/*
include drakrun/tools/get-explorer-pid
include drakrun/tools/drakshell/drakshell
recursive-include drakrun/data/capa-rules *.yml
recursive-include drakrun/web/frontend/dist *
