[Unit]
Description=drak-postprocess service
After=network.target

[Service]
Type=simple
ExecStart=/opt/venvs/drakcore/bin/drak-postprocess
User=root
Group=root
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3
WorkingDirectory=/var/lib/drakcore
KillMode=process
TimeoutStopSec=700

[Install]
WantedBy=default.target
