[Unit]
Description=drak-minio service
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/drakcore/minio.env
ExecStart=/usr/share/drakcore/minio server /var/lib/drakcore/minio
IOSchedulingClass=idle
User=root
Group=root
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3
WorkingDirectory=/var/lib/drakcore/minio

[Install]
WantedBy=default.target
