[Unit]
Description=drak-web service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/uwsgi --ini /etc/drakrun/uwsgi.ini
User=root
Group=root
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3
KillSignal=SIGQUIT
WorkingDirectory=/var/lib/drakcore

[Install]
WantedBy=default.target
