[Unit]
Description=drakrun service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/drakrun %i
User=root
Group=root
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=0
WorkingDirectory=/var/lib/drakrun
KillMode=process
TimeoutStopSec=700

[Install]
WantedBy=default.target
