[Unit]
Description=drak-system service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/karton-system --config-file /etc/drakrun/config.ini
User=root
Group=root
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3
WorkingDirectory=/var/lib/drakrun

[Install]
WantedBy=default.target
