#!/usr/bin/make -f

%:
	dh $@ --with python-virtualenv

build:
	# Build frontend
	if [ ! -d drakcore/frontend/build ] ; then cd drakcore/frontend && npm install && npm run-script build ; fi
	# Config files
	cp drakcore/config.dist.ini drakcore/config.ini
	cp drakcore/uwsgi.dist.ini drakcore/uwsgi.ini
	cp drakcore/systemd/minio.dist.env drakcore/systemd/minio.env
	# Download minio
	if [ ! -f drakcore/systemd/minio ] ; then wget -O drakcore/systemd/minio https://dl.min.io/server/minio/release/linux-amd64/minio ; chmod +x drakcore/systemd/minio ; fi

override_dh_virtualenv:
	dh_virtualenv --python python3
