#!/usr/bin/make -f

PYTHON_BIN := "$(shell cat 'package/python-bin')"

%:
	dh $@ --with python-virtualenv

build:
	if [ ! -f drakrun/tools/test-hvm64-example ] ; then cp /opt/xtf/tests/example/test-hvm64-example drakrun/tools/test-hvm64-example ; $(MAKE) -C drakrun/tools ; fi
	cp drakrun/config.dist.ini drakrun/config.ini
	cp drakrun/hooks.dist.txt drakrun/hooks.txt

override_dh_virtualenv:
	dh_virtualenv --python ${PYTHON_BIN}

override_dh_fixperms:
    dh_fixperms
    chmod +x drakrun/tools/test-hvm64-example drakrun/tools/get-explorer-pid drakrun/tools/test-altp2m

# Silence libvmi.so info errors
override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info -Xlibvmi
