alabaster==0.7.13
asttokens==2.2.1
Babel==2.11.0
backcall==0.2.0
certifi==2023.7.22
charset-normalizer==3.0.1
decorator==5.1.1
docutils==0.18.1
executing==1.2.0
idna==3.7
imagesize==1.4.1
ipython==8.10.0
jedi==0.18.2
Jinja2==3.1.4
MarkupSafe==2.1.2
matplotlib-inline==0.1.6
packaging==23.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.36
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.15.0
pytz==2022.7.1
requests==2.31.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==6.1.3
sphinx-rtd-theme==1.2.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stack-data==0.6.2
traitlets==5.9.0
urllib3==1.26.18
wcwidth==0.2.6
